[Unit]
Description=Restrict public Docker ports that are not routed by Traefik
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c '/usr/sbin/iptables -C DOCKER-USER -p tcp --dport 32768 -j DROP || /usr/sbin/iptables -I DOCKER-USER 1 -p tcp --dport 32768 -j DROP'
ExecStart=/bin/sh -c '/usr/sbin/iptables -C DOCKER-USER -p tcp --dport 32769 -j DROP || /usr/sbin/iptables -I DOCKER-USER 1 -p tcp --dport 32769 -j DROP'
ExecStop=/bin/sh -c '/usr/sbin/iptables -D DOCKER-USER -p tcp --dport 32768 -j DROP || true'
ExecStop=/bin/sh -c '/usr/sbin/iptables -D DOCKER-USER -p tcp --dport 32769 -j DROP || true'

[Install]
WantedBy=multi-user.target
